.App {
  text-align: center;
}

.App-logo {
  
  height: 150px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar-section {
  height: 115px;
  margin-left: 75%;
}
.text-secondary {
  font-size: 25px;
  width: 250px;
  color: rgb(168, 97, 39)   !important;
}
.App-title {
  margin-left: 75%;
  width: 150px;
}
h4 {
  margin-left: 5%;
}
h1 {
  width: 150px;
}

