/* .show {
    font-family: 'Fjalla One', sans-serif; 
    color:rgb(248, 238, 147); 
    position: relative; 
    display: inline block;
}
.show .showtext {
    visibility: hidden; 
    width: 300px; 
    background-color: white; 
    color: black; 
    text-align: center; 
    border-radius: 6px; 
    position: absolute; 
    z-index:1; 
    top: -235px; 
    left:105%
}
.show:hover .showtext {
    visibility: visible;
} */

/*Google Places CSS*/

#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./images/background.jpg');
    
  }
  #right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  
  #right-panel select, #right-panel input {
    font-size: 15px;
  }
  
  #right-panel select {
    width: 100%;
  }
  
  #right-panel i {
    font-size: 12px;
  }
  #right-panel {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5px;
    top: 60%;
    margin-top: -195px;
    height: 330px;
    width: 200px;
    padding: 5px;
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
  }
  h2 {
    font-size: 22px;
    margin: 0 0 5px 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 271px;
    width: 200px;
    overflow-y: scroll;
  }
  li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  li:nth-child(odd) {
    background-color: #fcfcfc;
  }
  #more {
    width: 100%;
    margin: 5px 0 0 0;
  }
  
  /*carousel css */
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
    
  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{ 
    transform: translateX(0);
  }
  
  /*custom css*/
  #beer-name {
    position : relative;
  }
  
  #zip-search-row {
    float: left;
      width: 33%;
      height: 200px;
      padding-top: 0px;
      padding-right: 50px;
      padding-bottom: 25px;
      padding-left: 80px;
    
  }
  .beer {
    background-color: rgb(165, 95, 16);
    color: #fff;
  }
  p {
    font-size: medium;
    font-family: Comic Sans MS;
  }
  h1 {
    background-color: rgb(194, 117, 46);
    width: auto;
  }
  .jumbotron {
    min-height: 300px;
    padding-top: 100px;
  }
  #search-button {
    background-color: rgb(223, 139, 14);
  }
  .App-logo {
    height: 240px;
    width: 300px;
    margin-left: -200%;
  }
  .myfridge {
    text-decoration-color: rgba(252, 174, 6, 0.986);
  }
  label {
    background-color: rgb(233, 131, 14);
  }
  button {
    background-color: rgb(235, 135, 14);
  }