.jumbotron {
    min-height: 300px;
    padding-top: 100px;
  }
  #myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}